.App{
  text-align: center;
  background-color: black;
}
.SearchModule{
color: white;
border: 1px solid black;
border-radius: 5px;
}
.locationSign{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 50%;
  width: 34px;
  font-size: 20px;
}
        
:hover .locationSign{
   color: white;
  text-decoration: none;
}
.input, .submitButton{
  background-color: black;
  border: 1px solid white;
  color: grey;
  border-radius: 3px;
  width: 100%; 
  min-width: fit-content;
  font-size: 20px;
}
.cityResults{
color: white;
}
.WeatherForecast{
  text-align: left;
}
.degreesChangeLink{
  color: white;
}
:hover .degreesChangeLink{
  color:white;
}
.box {
  position: relative; 
  text-overflow: clip;
}

.box:before {
    content: "";
    z-index:0;
    position: absolute;
    top: 22px;
    right: 12px;
    bottom: -17px;
    left: 12px;
    background: linear-gradient(-45deg, #c36fca 0%, #696eff 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;

}
   .city {
  position: relative; 
  text-overflow: clip;
  z-index: 0;
}

.city:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 1px;
    right: 11px;
    bottom: 35px;
    left: 10px;
    background: linear-gradient(-45deg, #c36fca 0%, #696eff 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;

}     
img {
  z-index: 0;
}
.TemperatureCalculator {
  font-size: small;
}
.openSourseLink a{
  font-size: small;
  color: white;
  text-decoration: none;
}